#ifndef HASSLORAGATEWAY_CONFIG_H
#define HASSLORAGATEWAY_CONFIG_H

#define WIFI_SSID "ssid"
#define WIFI_PASSWORD "pass"
#define WIFI_HOSTNAME "hostname"

#define MQTT_BROKER_IP "broker"
#define MQTT_USER "user"
#define MQTT_PASS "pass"

#define SYNC_WORD 0x00

#define MAGIC_WORD "mw"

#define KEY {0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00}
#define IV_KEY {0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00}
#define IV_STATIC {0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00}

#endif //HASSLORAGATEWAY_CONFIG_H